* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #f1f1f1;
}
.header {
  color: white;
  text-align: center;
  background-image: url("https://img.freepik.com/premium-photo/cup-coffee-table-cafe-close-up_960782-5186.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699488000&semt=ais");
  background-repeat: no-repeat;
  background-size: cover;
height: 200vh;
margin-top: -30px;;

}

.header h1{
  padding-right: 50%;
  padding-top: 30%;
}
button {
  background-color: orange;
  font-size: 15px;
  margin-right: 50%;
  margin-top: 1%;
}
.navbar {
  width: 100%;
  background-color: 555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: #04AA6D;
  text-decoration: none;
  font-family: cursive;
  font-size: 17px;
}

.navbar a:hover {
  background-color: orange;
}

.active {
  background-color: orange;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.column {
  float: left;
  width: 33.33%;
  padding: 30px;
    
}
.box {
  text-align: center;
  width: 33%;
  float: left;
  height: 350px;
  margin-top: 2%;
  margin-right: 0.3%;
  padding-right: 2px;
  border: 2px solid gray;
  font-size: 20px;
  background-image: url("https://img.freepik.com/premium-photo/white-cup-black-coffee-isolated-white-background_252965-15.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  font-family: cursive;
  color: coral;

}
p {
  font-family: cursive;
  color: black;
  font-size: 70%;
}
h3 {
  font-size: 40%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}
.box1 {
  width: 150%;
  height: 120%;
  border: 7px solid gray;
  padding: 10%;
} 
.fixed-button {
  /* position: absolute; */
  bottom: 3%; 
  right: 3%; 
}
  
.button:hover {
  background-color: #04AA6D;
  color: white;
}


.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 5%;
  font-size: 20px;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      font-size: 40%;
    }
    .box{
      width: 100%;
    }
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 400px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
